@model ProductManagement.Models.Tbl_Category

@{
    ViewBag.Title = "Deletecat";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="navbar navbar-inverse" style="width:88%;margin-top:-88px;"> <center><h2 style="color:white">Delete Category</h2></center></div>
<h3 style="font-family:'Arial Rounded MT';color:red;margin-left:250px">Are you sure you want to delete this  <b>Product Category</b>?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-left:380px;">
            <label>Category Name:</label>&nbsp;&nbsp;&nbsp;
        </dt>

        <dd style="margin-left:20px;">
            @Html.DisplayFor(model => model.C_Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
         <input type="submit" style="margin-left:385px;border-radius:5px;width:100px;" value="Delete" class="btn btn-danger" />
         <input type="button" class="btn-danger" style="margin-left:20px;height:34px;margin-top:15px;width:100px;border-radius:5px;" value="Cancel" onclick="window.location.href='@Url.Action("Addcat","Home" )';" />
    </div>
      
    }
</div>
